<header class="site-header">
    <h1 class="web-t" onclick="window.location.href='/'"><span>function</span><em> 천방지축 얼렁뚱땅
        </em><span>(</span><i>🤣</i><span>)</span> {<br />
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="nbsp">title =</span> 빙글빙글 돌아가는 맨딩이의 개발일지
        <br />}
    </h1>

    <h1 class="mob-t" onclick="window.location.href='/'">
        <span>천/얼/빙/돌(</span><i>🤣</i><span>)</span>
        <br />맨딩이의 개발일지
    </h1>

    <nav>
        <div class="h-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="side">
            <div class="close">
                <span></span>
                <span></span>
            </div>
            <ul class="slide">
                <li class="on"><a href="#">All Post</a>
                </li>
                <li><a href="#">HTML</a>
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                    </ul>
                    <span class="down"></span>
                </li>
                <li><a href="#">CSS</a>
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                    </ul>
                    <span class="down"></span>
                </li>
                <li><a href="#">Javascript</a>
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                    </ul>
                    <span class="down"></span>
                </li>
                <li><a href="#">Jquery</a>
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                    </ul>
                    <span class="down"></span>
                </li>
                <li><a href="#">React</a>
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                    </ul>
                    <span class="down"></span>
                </li>
                <li><a href="#">React Native</a>
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                    </ul>
                    <span class="down"></span>
                </li>
                <li><a href="#">devHyun</a>
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                    </ul>
                    <span class="down"></span>
                </li>
            </ul>
        </div>
    </nav>
</header>