p > code {
    background-color: #282a36;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

ul, ol {
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

blockquote {
    border-left: 7px solid #6272a4;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}